nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    background-color: #ddd;
}

ul{
    display: flex;
    width: 40%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

li a{
    text-decoration: none;
}

.active{
    background-color: grey;
    border-radius: 20px;
    padding: 20px;
}