/* *{
    margin: 0;
    padding: 0;
}

.parent
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.container{
    min-height: 80vh; 
    width: 80%; 
    border: 5px solid black; 
    border-radius: 20px; 
    background-color: pink; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    text-align: justify;
}

.task{
    height: 2rem;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
    background-color: #ddd;
}

button{
    display: block;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
} */

.error{
    color: red;
    background-color: grey;
}