.container{
    min-height: 80vh; 
    width: 80%; 
    border: 5px solid black; 
    border-radius: 20px; 
    background-color: pink; 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.task{
    height: 2rem;
    width: 100%;
    border: 2px solid red;
    border-radius: 20px;
    background-color: #ddd;
}